.idea
.DS_Store
cdn/.DS_Store
api/.adonisjs
api/.env
cdn/.env
cms/.env
fe/.env
fe/.next
fe/node_modules
fe/package-lock.json
api/database.sqlite
api/database.sqlite3
api/tmp/
cdn/medias/
cdn/cdn.log
api/scripts/check_wp_paths.ts
api/commands/check_media.ts
node_modules/
dist/
build/
